header {
  margin: auto;
}

header {
  text-align: center;
}

figure {
  margin: auto;
  text-align: center;
  font-size: 14px;
}

nav a {
  padding: 10px;
  background: beige;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin: auto;
  padding: 15px;
}

#details div{
  float: left;
  background: lightpink;
  width: 25%;
  text-align: center;
  font-size: 14px;
}